
*{box-sizing: border-box;}
body{
    /* background-image: url(./depositphotos_693845704-stock-photo-corrupt-officials-accept-money-businessmen\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    background-attachment: fixed; */
    width: 100vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* position: relative; */
    overflow-x: hidden;
}
#head{
    width: 105vw;
    text-align: center;
    font-size: 100%;
    padding: 6%;
    box-shadow: 12px 12px 12px black;
    position: sticky;
    top: -1%;
    margin-left: -2%;
    background-color: white;
}
 
#contact-form{
    padding: 3%;
    margin-top: 10%;
}

label {
 font-size: 110%;
 margin-left: 3%;
}
input[type='text'], 
input[type='number'],
input[type='email'],
input[type='password']{
    width: 98%;
    outline: none;
    padding: 4%;
    border: 1px solid black;
    font-size: 100%;
    border-radius: 15px;
    margin-bottom: 7%;
    margin-top: 1%;
    outline: none;
}
#terms{
    border-radius: 15px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 10%;
    margin-top: 3%;
    height: 70px;
    width: 98%;
}
#terms input[type='checkbox']{
    background-color: rgb(13, 166, 177);
    color: rgb(13, 166, 177);
    margin-top: -5%;
    margin-left: 30%;
    width: 40%;
    height: 80px;
}
#terms > label{
    margin-top: 8%;
    font-size: 110%;
}

#second-form{
    margin-top: 15%;
    background-color: white;

}
#second-form > p{
    font-size: 130%;
    border: 2px solid black; 
    width: 70%; 
    text-align: center;
    padding: 3%;
    border-radius: 25px;
    margin-top: -10%;
    /* margin-bottom: 4%; */
}
#second-form > div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:   wrap;
    margin-left: -120%;
    width: 90vw;
    transition-duration: 2s;
    margin-top: -5%;
}

.zoomed{
    transition-duration: 3s;
    transform: scale(1.4); /* Zooms the div by 10% */
    margin-top: 12%;
}
#submit-button,
#fnbFirstDetailsSubmit{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 120%;
    background-color: rgb(13, 166, 177);
    width: 100%;
    margin-top: 10%;
    border-radius: 15px;
    padding: 4%;
    outline: none;
    border: none;
}
#submit-button:hover{
    color: rgb(13, 166, 177);
    background-color: rgb(235, 187, 27);
}
#submit1:disabled, #submit3:disabled, #standardDetailsSubmit {
    background-color: #cccccc; /* Light gray background */
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
}
#submit1{
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 120%;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 100px;
    padding: 4%;
}
#standardBankForm > div > input {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px;
}
#standardDetailsSubmit, 
#standardBankFirstDetailsSubmit{
    outline: none;
    border: none;
    margin-bottom: 9%;
    font-size: 120%;
    padding: 5%;
    width: 100%;
    background-color: rgb(13, 166, 177);
}
#submit3, #nedbankFirstdetail{
    background-color: rgb(65, 142, 48);
    color: white;
    font-size: 120%;
    padding: 3%;
    width: 100%;
    border-radius: 15px;

}
#continue3 > input, #continue4 > input, #continue4 > div > input {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px;
}
.submit4, #next2 {
    background-color: transparent;
    color: #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 120%;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 100px;
    padding: 4%;
    border: 2px solid grey;
}




#write{
    padding: 2%;

}
#write-up {
    text-align: center;
    font-size: 120%;
}
#write-up div h3{
    text-align: center;
    color: red;
    font-size: 90;
}
#failure{
    text-align: center;
    font-size: 205%;
    color: red;
}
#why{
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 1%;
}

#fail-write{
    background-color: red;
    font-size: 230%;
}
#successful{
    font-size: 100%;
    text-align: center;
    margin-top: 25%;
  }

 
#p7{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    /* font-weight: bold; */
    position: absolute;
    top: 1%;
    margin-left: 35%;
}
#done{
    width:95%;
    margin-top: 2%;
    padding: 5%;
    /* border: 3px solid black; */
}
#check{
    /* background-color: rgb(29, 44, 156); */
    color: rgba(29, 44, 156, 0.8);
    font-size: 2000%;
    padding:5% ;
    width: 100% ;
    margin-top: 200%;
    visibility: hidden;
    position: relative;
    animation-duration: 3s;
    animation-name: check;
    
    animation-direction: normal;
}
@keyframes check{
    50%{
        visibility:visible;
        margin-top: -50%;
    }
}
#with{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    top: 26%;
    left: 21%;
    color: red;
}